.main {
    margin: auto;
    width: max-content;
    height: auto;
    text-align: center;
}

.heading {
    font-size: xx-large;
    padding: 100px 0px 100px 0px;
    color: aquamarine;
    font-weight: 800;
}

.grid {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    width: 100px;
    height: 100px;
}

.b1 {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: aquamarine;
}

.b2 {
    border-bottom: 2px solid;
    border-color: aquamarine;
}

.b3 {
    border-right: 2px solid;
    border-color: aquamarine;
}

img {
    width: 90%;
    height: auto;
}